flamegraph.svg
perf.*
*.user

/bt-test/target

/HomeKeyCredentialProvider/.vs/
/HomeKeyCredentialProvider/**/x64/

/mfro-automation/target
/mfro-automation/config.json
/mfro-automation/radio/test-data
/mfro-automation/radio/test-dump
/mfro-automation/radio/*.csv
/mfro-automation/radio/*.txt
/mfro-automation/radio/*.png

/mfro-homeassistant-cards/main.js
/mfro-homeassistant-cards/node_modules/
